* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-backround);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    position: relative;
}