.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
  color: #fff;
  position: relative;
}

select {
  background: #000;
  color: #fff;
  border: 1px solid #5c5858;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 14px;
}

/* Checkbox estilizado como switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 22px;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: rgba(0, 0, 255, 0.3);
}

.switch input:checked + .slider:before {
  transform: translateX(18px);
}