.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.loading img {
    width: auto;
    min-height: 150px;
    max-height: 300px;
}
.loading p {
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
}

.showLoading {
    visibility: visible;
    opacity: 1; 
}