.logos-car {
    height: 100%;
}

.logos-car-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: fadeInScale 0.6s ease-in-out;
}

.logos-car-box svg {
    fill: white;
    width: auto;
    height: 50%;
    cursor: pointer;
}

.logos-car-box .content-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    flex-wrap: wrap;
    text-align: center;
}

.logos-car-box .content-text .nome {
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
}

.logos-car-box .content-text .geral {
    font-size: 0.9em;
    margin: 0;
    
}

.logos-car-box .content-text .fundacao {
    font-weight: 100;
}